.wordpress-excerpt-item {
  text-align: center;
  padding: 2%;
  margin: 2% 10%;
  background-color:lightblue;
}

.wordpress-excerpt-item-img img {
 object-fit: cover; 
 width: 50%;
}

.wordpress-excerpt-item-excerpt {
  text-align: left;
  text-indent: 5%;
  width: 60%;
  margin-left: 20%;
}