.nav-progressbar {
  position: relative;
  height: 20px;
  width: 100%;
  margin-left: -1.4%;
  top: -20%;
}

.filler {
  background: black;
  height: 100%;
  transition: width .1s ease-in;
}

.hidden-progressbar {
  visibility:none;
  background-color: transparent;
}